server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/finance_db}
    username: ${SPRING_DATASOURCE_USERNAME:finance}
    password: ${SPRING_DATASOURCE_PASSWORD:finance}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  flyway:
    enabled: true

logging:
  level:
    root: INFO

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:verylongsecretkeychangemeplease1234567890}
    expiration-ms: ${SECURITY_JWT_EXPIRATION_MS:86400000}
