version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: finance
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  user-service:
    build:
      context: ../services/user-service
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/finance_db
      SPRING_DATASOURCE_USERNAME: finance
      SPRING_DATASOURCE_PASSWORD: finance
      SECURITY_JWT_SECRET: "change_this_dev_secret_must_be_long_32_chars"
      SECURITY_JWT_EXPIRATION_MS: 86400000
    ports:
      - "8080:8080"

volumes:
  pgdata: